<!doctype html>
<html lang="en" class="min-h-screen bg(gray-800 fixed)" style="background-image: url('assets/img/grid.svg');" hidden>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Kiesel &rsaquo; Vader 6 &rsaquo; Order Sheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&amp;display=swap" rel="stylesheet" />
  </head>
  <body class="min-h-screen bg(gradient-to-b fixed) from-transparent to-gray-900 text-gray-300 relative">
    <div class="page divide(y gray-500 opacity-25) min-h-screen flex flex-col relative z-20" v-cloak>
      <header class="divide(y gray-500 opacity-25) w-full font-black uppercase flex flex-wrap md:(divide(x y-0))">
        <section class="logo space-x-4 p-4 w-full flex relative lg:(space-x-8 p-8) md:(w-auto flex-1)">
          <svg xmlns="http://www.w3.org/2000/svg" width="319" height="72" viewBox="0 0 319 72" role="img" class="m-auto w-full h-auto max-w-[15rem] fill-current">
            <title>Kiesel</title>
            <g id="kiesel-logo">
              <path id="kiesel-logo-kl" d="M46,72 L33.156,38 L25.806,38 L14,72 L0,72 L25,0 L39,0 L29.776,26.566 L35.531,26.043 L65,0 L300,0 L278.667,64 L319,64 L316,72 L46,72 Z M71,4.634 L44.003,29.656 L58.489,68 L264.389,68 L284.430638,10.2797617 L284.209,5 L71,5 L71,4.634 Z"></path>
              <polygon id="kiesel-logo-i" points="86 15 96 15 83 55 73 55"></polygon>
              <polygon id="kiesel-logo-e" points="113 55 126 15 158 15 156.375 20 134.375 20 130.15 33 151.15 33 149.85 37 128.85 37 124.625 50 146.625 50 145 55"></polygon>
              <path id="kiesel-logo-s" d="M193,15 C200,15 208,19.0051177 208,22 C207,22 203,22 202,22 C202,20 197,19 193,19 C189,19 185,22 185,26 C185,30 199,34 199,42 C199,52 188,55 180,55 C169,55 164,50 164,47 C165,47 168,47 169,47 C169,48 174,51 179,51 C184,51 188,49 188,45 C188,41 174,37 174,29 C174,21 183,15 193,15 Z"></path>
              <polygon id="kiesel-logo-e" points="216 55 229 15 261 15 259.375 20 237.375 20 233.15 33 254.15 33 252.85 37 231.85 37 227.625 50 249.625 50 248 55"></polygon>
            </g>
            <g id="kiesel-sparkle" class="text-white fill-current hidden">
              <path transform="translate(0, 0)" d="m20 0 2 16 9-7-7 9 16 2-16 2 7 9-9-7-2 16-2-16-9 7 7-9-16-2 16-2-7-9 9 7z" />
              <path transform="translate(140, 36)" d="m20 0 2 16 9-7-7 9 16 2-16 2 7 9-9-7-2 16-2-16-9 7 7-9-16-2 16-2-7-9 9 7z" />
              <path transform="translate(280, 10)" d="m20 0 2 16 9-7-7 9 16 2-16 2 7 9-9-7-2 16-2-16-9 7 7-9-16-2 16-2-7-9 9 7z" />
            </g>
          </svg>
        </section>
        <section class="model border-r-1 space-x-4 p-4 flex-1 flex items-center justify-center lg:(space-x-8 p-8) md:(border-l-0)">
          <i class="fal fa-fw fa-directions opacity-25 text-lg lg:text-4xl"></i>
          <h1 class="text-[calc(1vw+1vh+.5vmin)] leading-tight">
            <b>Vader 6</b>
            <small class="text-[calc(.5vw+.5vh+.5vmin)] block opacity-50">Right Handed</small>
          </h1>
        </section>
        <section class="for space-x-4 p-4 flex-1 flex items-center justify-center lg:(space-x-8 p-8)">
          <i class="fal fa-fw fa-tasks opacity-25 text-lg lg:text-4xl"></i>
          <h2 class="text-[calc(1vw+1vh+.5vmin)] leading-tight">
            <b>desired specs</b>
            <small class="text-[calc(.5vw+.5vh+.5vmin)] block opacity-50"><a href="mailto:user@domain.com?Subject=Kiesel+Vader+6+Order" class="text-current hover:(underline) focus:(underline)" onclick="window.open(this.href,'Email','width=800,height=600,scrollbars,resizable'); return false;"><i class="fal fa-fw fa-at mr-1 opacity-50"></i>{{ user_name }}</a></small>
          </h2>
        </section>
      </header>
      <main class="py-4 lg:(py-16 w-full flex justify-center space-x-5)">
        <section class="mx-auto w-full max-w-lg lg:(mx-0)"><a href="#" class="py-5 block sticky top-0 transition duration-300 transform hover:(-rotate-6) focus:(-rotate-6)"><img src="assets/img/v6.png" alt="Osiris 6" class="m-auto px-4" /></a></section>
        <section class="mx-auto w-full max-w-prose lg:(mx-0)">
          <fieldset class="px-4 relative hidden">
            <label for="search" class="w-8 h-8 flex items-center justify-center absolute z-10 right-5 top-1/2 transform -translate-y-1/2"><i class="m-auto fa fa-fw fa-search" role="presentation" aria-label="Search"></i></label>
            <input type="search" id="search" v-model="option_search" class="appearance-none py-3 px-6 w-full bg-gray-500 bg-opacity-10 block rounded-md transition duration-300 focus:(bg-white outline-none shadow-xl ring(& white)) relative z-20" placeholder="Search" />
          </fieldset>
          <section v-if="!option_results.length" class="py-8 text(gray-500 opacity-50) font-bold text-2xl uppercase tracking-tight text-center"><i class="fa fa-fw fa-ban opacity-50" role="presentation" aria-hidden="true"></i> No Results</section>
          <ul class="py-4">
            <li v-for="(item, index) in option_results" :class="[{'p-4 flex items-center relative rounded': true, 'ring(1 red-500 opacity-25) text-red-500 bg(red-500 opacity-10) shadow-2xl animate-pulse': item.question}]">
              <b class="text-xs"><b v-for="(tag, index) in item.tags" class="w-16 px-1 py-px inline-flex justify-center rounded bg(gray-500 opacity-20)">{{ tag.title }}</b></b>
              <i class="mx-6 ring(1 inset green-500 opacity-25) w-12 h-12 text(green-500 2xl) flex rounded-full"><i :class="'m-auto fal fa-'+ item.ico"></i></i>
              <p class="flex-1 flex flex-wrap truncate">
                <b>{{ item.title }}</b>
                <small v-if="item.desc" class="truncate w-full min-w-0 block opacity-60">{{ item.desc }}</small>
              </p>
              <b class="opacity-50"><sup class="mr-1 opacity-50">$</sup>{{ item.price }}</b>
              <b v-if="index < option_results.length - 1" class="-ml-[.5px] w-px h-8 bg(green-500 opacity-25) absolute left-32 -bottom-4"></b>
            </li>
          </ul>
          <ul class="bg(black opacity-25) text-right overflow-hidden rounded shadow-2xl">
            <li class="p-4 flex items-center justify-end space-x-4"><small class="uppercase flex-1 opacity-50">Custom Shop total:</small> <b class="w-16"><sup class="mr-1 opacity-50">$</sup>{{ (total + price_base).toLocaleString('en') }}</b></li>
            <li class="p-4 flex items-center justify-end space-x-4"><small class="uppercase flex-1 opacity-50">Shipping:</small> <b class="w-16"><sup class="mr-1 opacity-50">$</sup>{{ (shipping).toLocaleString('en') }}</b></li>
            <li class="p-4 flex items-center justify-end space-x-4"><small class="uppercase flex-1 opacity-50">Discount:</small> <b class="w-16 text-red-500"><sup class="mr-1">$</sup>-{{ (price_discount).toLocaleString('en') }}</b></li>
            <li class="p-4 bg(black opacity-50)"><b class="text-xl lg:text-3xl"><sup class="mr-1 opacity-25">$</sup>{{ (total + shipping + price_base - price_discount).toLocaleString('en') }}</b></li>
            <li class="h-24 bg-gradient-to-b from-transparent to-gray-900 hidden md:block absolute -top-24 inset-x-0"></li>
          </ul>
        </section>
      </main>
      <footer class="mt-auto py-8 px-4 text(gray-500 opacity-50) text-xs font-bold uppercase text-right">
        Website made with 
        <svg xmlns="http://www.w3.org/2000/svg" class="-mt-1 mx-1 text-red-500 inline-block stroke-current" width="16" height="12" viewBox="0 0 16 12" role="img" aria-labelledby="footer-heart">
          <title id="footer-heart">Love</title>
          <polygon fill="transparent" points="8 4 12 0 16 4 8 12 0 4 4 0"></polygon>
        </svg>
        by <a href="http://craigerskine.com/" class="mx-1 text-gray-400 hover:(text-gray-300 underline) focus:(text-gray-300 underline) transition duration-300">Craig Erskine</a>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/combine/npm/twind/twind.umd.js,npm/twind/observe/observe.umd.js,npm/twind/colors/colors.umd.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.min.js"></script>
    <script src="https://kit.fontawesome.com/6d6156d427.js" crossorigin="anonymous"></script>
    <script>
      // data
      var app = new Vue({
        el: '.page',
        data() {
          return {
            user_name: 'qrayg',
            price_base: 1499,
            shipping: 35,
            price_discount: 100,
            option_search: null,
            options: [
              {
                title: 'Maple / Swamp Ash',
                desc: 'Neck / Body',
                ico: 'guitar-electric',
                tags: [ { title: 'ASH' }, ],
                price: 120,
              },
              {
                title: 'Ash',
                desc: 'Top',
                ico: 'arrow-to-top',
                tags: [ { title: 'AT' }, ],
                price: 200,
              },
              {
                title: 'Antique Ash',
                desc: 'Treatment',
                ico: 'spray-can',
                tags: [ { title: 'AAT' }, ],
                price: 100,
              },
              {
                title: 'Ultra-Thin Raw Tone',
                desc: 'Satin Finish',
                ico: 'tree-alt',
                tags: [ { title: 'RTF' }, ],
                price: 0,
              },
              {
                title: '3-Piece Maple Neck',
                desc: '1 Purpleheart Stripe',
                ico: 'grip-lines-vertical',
                tags: [ { title: '3MP' }, ],
                price: 150,
              },
              {
                title: 'Thinner Neck',
                desc: 'Profile',
                ico: 'compress-alt transform -rotate-45',
                tags: [ { title: 'THNN' }, ],
                price: 60,
              },
              {
                title: 'Tung Oil Finish',
                desc: 'Back of Neck',
                ico: 'oil-can',
                tags: [ { title: 'TN' }, ],
                price: 0,
              },
              {
                title: 'Rosewood',
                desc: 'Fingerboard',
                ico: 'hand-pointer',
                tags: [ { title: 'RWF' }, ],
                price: 30,
              },
              {
                title: '12th Fret K Logo',
                desc: 'Staggered Offset Dots',
                ico: 'paint-brush',
                tags: [ { title: 'IKSD' }, ],
                price: 30,
              },
              {
                title: 'Luminlay Inlay',
                desc: 'Material',
                ico: 'ellipsis-h',
                tags: [ { title: 'ILL' }, ],
                price: 75,
              },
              {
                title: 'Stainless Med-Jumbo Frets',
                desc: '.048" H .103" W',
                ico: 'align-justify',
                tags: [ { title: 'STF' }, ],
                price: 0,
              },
              {
                title: '20" Fretboard',
                desc: 'Radius',
                ico: 'ring',
                tags: [ { title: 'R20' }, ],
                price: 0,
              },
              {
                title: 'Replace Standard Pickups',
                desc: 'Fishman Fluence, 3-way blade, 25K Fishman pots',
                ico: 'wave-square',
                tags: [ { title: 'ACF' }, ],
                price: 200,
              },
              {
                title: 'Black Hardware',
                desc: 'Standard',
                ico: 'wrench',
                tags: [ { title: 'BC' }, ],
                price: 0,
              },
              {
                title: 'Elixir Light Gauge',
                desc: '.010 - .046',
                ico: 'stream',
                tags: [ { title: '1046E' }, ],
                price: 0,
              },
              {
                title: 'Black Logo',
                desc: 'Branding',
                ico: 'draw-polygon',
                tags: [ { title: 'BL' }, ],
                price: 0,
              },
              {
                title: 'Ultimate Soft Case',
                desc: 'Black',
                ico: 'suitcase',
                tags: [ { title: 'SC9' }, ],
                price: 70,
              },
            ],
          }
        },
        computed: {
          option_results(){
            if(this.option_search){
              return this.options.filter((item)=>{
                const tags = item.tags?.map(({
                  title
                }) => title.toLowerCase()) ?? []
                const arr = [item.title.toLowerCase(), ...tags]
                return arr.some(e => e.includes(this.option_search))
              })
            } else {
              return this.options;
            }
          },
          total: function(){
            let total = [];
            Object.entries(this.options).forEach(([key, val]) => {
              total.push(val.price)
            });
            return total.reduce(function(total, num){ return total + num }, 0);
          },
        }
      });

      twind.setup({
        mode: "silent",
        theme: {
          extend: {
            colors: {
              gray: twindColors.gray,
            },
            fontFamily: {
              sans: ['Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', '"Helvetica Neue"', 'Arial', '"Noto Sans"', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"'],
            },
          },
        },
      })
      twind.tw(() => ({
        '@global': {
          'a:not([class])': { '@apply': 'text-indigo-500 hover:(text-indigo-400 underline) focus:(text-indigo-400 underline) font-bold transition duration-300', },
          'p:not([class]),ul:not([class]),ol:not([class]),table:not([class])': { '@apply': 'mb-5 border-current', },
          'ul:not([class]) ul:not([class]),ul:not([class]) ol:not([class]),ol:not([class]) ol:not([class]),ol:not([class]) ul:not([class])': { '@apply': 'mb-0', },
          'ul:not([class])': { '@apply': 'ml-5 list-disc', },
          'ol:not([class])': { '@apply': 'ml-5 list-decimal', },
          'hr:not([class])': { '@apply': 'mb-5 border-current opacity-25', },
          'h1:not([class]),h2:not([class]),h3:not([class]),h4:not([class]),h5:not([class]),h6:not([class])': { '@apply': 'mb-5 text(4xl gray-100) font-bold', },
          'h2:not([class])': { '@apply': 'text(3xl gray-200)', },
          'h3:not([class])': { '@apply': 'text(2xl gray-300)', },
          'h4:not([class])': { '@apply': 'text(xl gray-400)', },
          'h5:not([class])': { '@apply': 'text(lg gray-500)', },
          'h6:not([class])': { '@apply': 'text(base gray-600)', },
          'table:not([class])': { '@apply': 'w-full divide(y gray-600 opacity-25)', },
          'table:not([class]) thead tr': { '@apply': 'text-sm uppercase opacity-50', },
          'table:not([class]) th,table:not([class]) td': { '@apply': 'py-1 px-4 text-left', },
          'table:not([class]) tbody': { '@apply': 'divide(y gray-600 opacity-25)', },
          'table:not([class]) tbody tr:nth-child(even)': { '@apply': 'bg(gray-600 opacity-10)', },
          //':root [v-cloak]': { '@apply': 'hidden', },
        }
      }))
      twindObserve.observe(document.documentElement);
      document.documentElement.removeAttribute('hidden');
    </script>

  </body>
</html>
